.card {
    background-color:#eee;
    box-sizing:border-box;
    float:left;
    height:10em;
    margin:.5em;
    padding:1em;
    position:relative;
    width:45%;
    overflow: hidden
  }

  .content {
    position:relative;
  }

.cardcontainer{
    margin-top: 70px;
    margin-left: 30px;
}

.cardcontainer h2 {
    color:white;
}
  
.cardcontainer h3 {
    color:black;
}

  @keyframes slideIn {
    0% {
      background-color:#abc;
      width:0;
    }
    100% {
      background-color:#def;
      width:100%;
    }
  }