<!DOCTYPE html>
<html>
    <head>
        <title>Blog</title>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="/static/css/blog.css" type="text/css" media="screen"/>
        <link rel="icon" href="/static/img/favicon.png">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script text="text/javascript" src="/static/js/blog.js"></script>
    </head>
    <body>
        <h2> Blog Entries </h2>
        <div class="card">
            <div class="progress" style="width:70%"></div>
            <div class="content">
                <p>Hi</p>
            </div>
          </div>
          
          <div class="card">
            <div class="progress" style="width:90%"></div>
            <div class="content">
              <h3>Progress Card</h3>
              <p>Card which uses the background colour to show progress.</p>
            </div>
          </div>
          
          <div class="card">
            <div class="progress" style="width:40%"></div>
            <div class="content">
              <h3>Progress Card</h3>
              <p>Card which uses the background colour to show progress.</p>
            </div>
          </div>
          
          <div class="card">
            <div class="progress" style="width:60%"></div>
            <div class="content">
              <h3>Progress Card</h3>
              <p>Card which uses the background colour to show progress.</p>
            </div>
          </div>
          
          <div class="card">
            <div class="progress" style="width:10%"></div>
            <div class="content">
              <h3>Progress Card</h3>
              <p>Card which uses the background colour to show progress.</p>
            </div>
          </div>
          
          <div class="card">
            <div class="progress" style="width:50%"></div>
            <div class="content">
              <h3>Progress Card</h3>
              <p>Card which uses the background colour to show progress.</p>
            </div>
          </div>   
    </body>
    
</html>