<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>LocationData</title>
        <meta name="description" content="Interactive Visualization for HealthData"/>
        <meta name="keywords" content="health, map, analytics"/>
        <meta http-equiv="Content-type" content="text/html;charset=UTF-8"/>
        <link rel="stylesheet" href="/static/css/style.css" type="text/css" media="screen"/>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="icon" href="/static/img/favicon.png">
        <script src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
    </head>

    <body>
        <!-- Top Menu -->
        <div class=locationnav>
            <h1>
                <a id=brandname href="/">LocationData
                    <i class="material-icons md-48">location_on</i>
                </a>
            </h1>
        </div>

        <!-- Side navigation -->
        <section class="leftnav">

            <div class="leftnav-content">

                <form action="{{ url_for('process_data') }}" method="GET">
                    <!–– Condition Text -->
                    
                    <h3>Your selected condition</h3>
                    
                    <p id="cname">
                    </p>

                    <!–– Sliders for Query -->
                    <p>
                        <strong>Query By</strong>
                    </p>

                    <label id="formitem">
                        <h3>Age</h3>
                        <input type="range" min="1" max="100" value="20" class="formitem" id="AgeRange" name="AgeRange"/>
                        <h4>Value: <span id="outputAge"></span></h4>
                    </label>

                    <label id="formitem">
                        <h3>Gender</h3>
                        <input type="radio" name="gender" value="all" checked> All<br>
                        <input type="radio" name="gender" value="male"> Male<br>
                        <input type="radio" name="gender" value="female"> Female<br>
                    </label>
                    
                     <label id="formitem">
                        <h3>Race</h3>
                        <input type="radio" name="race" value="all" checked> All<br>
                        <input type="radio" name="race" value="White"> White<br>
                        <input type="radio" name="race" value="Hispanic"> Hispanic<br>
                        <input type="radio" name="race" value="Asian"> Asian<br>
                        <input type="radio" name="race" value="Black"> Black<br>
                        <input type="radio" name="race" value="Other" checked> Other<br>
                    </label>


                    <!–– Submission -->
                    <label>
                        <input type="submit" value="Run!"/>
                    </label>        
                </form>

            </div>
        </section>

        <section class="mapzone">
            
            <iframe width="900" height="800" frameborder="0" scrolling="no" src="{{ url_for('map_function') }}"></iframe>
            
        </section>

    </body>

    <script>
        var Ageslider = document.getElementById("AgeRange");
        var outputAge = document.getElementById("outputAge");
        outputAge.innerHTML = Ageslider.value;

        Ageslider.oninput = function() {
            outputAge.innerHTML = this.value;
        }
        
        var x = document.URL;
        var y = x;
        x = x.substr(y.lastIndexOf('/')+1)
        document.getElementById("cname").innerHTML = x;

    </script>    

</html>
