@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

ol, li, p, h4 {
  margin: 0;
  font-weight: bold;
  font-size: 2rem;
  margin-right: 0.5rem;
  font-family: 'Abril Fatface', serif;
  line-height: 1;
    color: white;
}

a {
    color:#222;
    text-decoration: none;
    font-family: merriweather;
}

body {
    background: #096d6d; /* fallback for old browsers */
    background: -webkit-linear-gradient(right, rgb(41, 111, 177), #096d6d);
    background: -moz-linear-gradient(right, rgb(41, 111, 177), #096d6d);
    background: -o-linear-gradient(right, rgb(41, 111, 177), #096d6d);
    background: linear-gradient(to left, rgb(41, 111, 177), #096d6d);
    max-width: 80%;
    width: 1000px;
    margin: 40px auto;
    font: normal 16px/24px "Montserrat", "Helvetica Neue", sans-serif;
}

h3 {
  font-size: 1.65rem;
  margin: 15px 0;
  text-align: center;
}

ol {
  counter-reset: section;
    position: absolute;
    width: 100%;
    top: 25%;
    left:0;
    border-radius: 2px;
    margin: 0;
}

.row {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0;
}

.column{
    flex: 50%;
    align-self: center;
    text-align: center;
    
}

h4 {
  position: relative;
}

h4 .title {
    content: "";
  position: relative;
    height: 1px;
}

h4:after {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 200px;
  background: white;
    
}

p {
  font-size: .9rem; 
  line-height: 1.4rem;
  margin-top: 15px;
}

#brandname {
    font-family: merriweather;
    font-size: 1em;
    font-weight: 100;
    color: black;
    padding: 15px;
}

.nav {
    background: #FFFFFF;
    width: 100%;
    height: auto;
    box-shadow: 0 2px 1px 0 rgba(0,0,0, 0.2);
    top: 0;
    left:0;
    position: fixed;
}
