@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

ol, li, p, h4 {
  margin: 0;
}

body {
    background: #096d6d; /* fallback for old browsers */
    background: -webkit-linear-gradient(right, rgb(41, 111, 177), #096d6d);
    background: -moz-linear-gradient(right, rgb(41, 111, 177), #096d6d);
    background: -o-linear-gradient(right, rgb(41, 111, 177), #096d6d);
    background: linear-gradient(to left, rgb(41, 111, 177), #096d6d);
    max-width: 80%;
    width: 1000px;
    margin: 40px auto;
    font: normal 16px/24px "Montserrat", "Helvetica Neue", sans-serif;
}

h3 {
  font-size: 1.65rem;
  margin: 15px 0;
  text-align: center;
}

ol {
  counter-reset: section;
}

li { 
  list-style-type: none;
  position: relative;
  font-size: 1.5rem;
  padding: 5px;
  margin-bottom: 15px;
  background: #000000;
  color: #fff;
}

h4 {
  position: relative;
  padding-bottom: 10px;
}

h4:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 200px;
  height: 1px;
  background: white;
}

p {
  font-size: .9rem; 
  line-height: 1.4rem;
  margin-top: 15px;
}

li::before {
    counter-increment: section;
    content: counter(section);
    text-align: center;
    display: inline-block;
    color: #000;
    border-radius: 50%;
    position: absolute;
    left: -65px;
    top: 50%;
    transform: translateY(-50%);
    padding: 12px;
    font-size: 2rem;
    width: 25px;
    height: 25px;
    border: 2px solid #000;
}