html * {
    padding: 0;
    margin: 0;
}

body {
    color: black;
    background-color: #222;
    font-family: Verdana, Arial, Helvetica, sans-serif;
}

a {
	color:black;
	text-decoration: none;
}

a:hover {
	color:#001A57;
}

.material-icons {
	font-family: 'Material Icons';
  	font-weight: normal;
  	font-style: normal;
	font-size: 2em;
}

#brandname {
	font-family: merriweather;
	font-size: 1.1em;
	font-weight: 100;
	color: black;
	padding: 15px;
}

.nav {
	background: white;
	width: auto;
	height: 50px;
	padding-top: 5px;
	box-shadow: 0 4px 8px 0 rgba(0,0,0, 0.2);
}

.header{
	height: 600px;
	background-image: url("/static/img/map_background.jpg");
	display: flex;
  	align-items: center;
  	justify-content: center;
  	overflow: hidden;
  	margin-left: -10px;
}

.button {
  font-size: 25px;
  text-align: center;
  display: inline-block;
  border-radius: 3px;
  background-color: #f4511e;
  border: solid 2px;
  border-color: black;
  color: #FFFFFF;
  padding: 20px;
  width: 500px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.6s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.6s;
}

.button:hover span {
  padding-right: 26px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

.footer{
	align-items: center;
  justify-content: center;
  text-align: center;
}

.footer p {
	margin-top: 15px;
	color:white;
}
